#container{
    height: 300px;
    width: 100%;
    background-color: rgb(250, 189, 230);
}

#container2{
    height: 300px;
    width: 100%;
    background-color: rgb(252, 193, 252);
    
    
}

#container3{
    height: 500px;
    width: 40%;
    background-color: rgb(194, 212, 250);
}

.boxes{
    height: 500px;
    width: 50%;
    background-color: rgb(248, 26, 26);
    margin-bottom: 10px;
    margin-right: 10px;
    /* border-radius: 20px; */
    /* flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    justify-content: space-between;
    align-items: right; */
    /* position: fixed; */
    float: right;
        
}
