#container{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.boxes0{
    height: 290px;
    width: 100%;
    background-color: rgb(206, 253, 214);
    margin-bottom: 10px; /* para el espacion entre las lineas */
    margin-right: 14px;
}

#estiloImagen{
    height: 290px;
    width: 773px;
}

#container2{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* justify-content: center;
    align-items: right; 
    float: right;  */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;      
}

.boxes1{
    height: 290px;
    width: 400%;
    background-color: rgb(248, 226, 212);
    margin-bottom: 10px; /* para el espacion entre las lineas */
    margin-right: 14px;
}

#estiloImagen2{
    height: 290px;
    width:608px;
}

.boxes2{
    height: 500px;
    width: 100%;
    background-color: rgb(244, 206, 253);
}

#container3{
    height: 300px;
    width: 81%;
    background-color: rgb(255, 255, 255);
    display: flex;  
    flex-direction: row;  
    /* flex-wrap: wrap;  */
    /* justify-content: center;  */
    /* justify-content: space-between;  */
    /* align-items: center;   */
    /* align-content: center;  */
    /* transform: rotate(90deg); inclinacion */
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.boxes{
    height: 200px;
    width: 80%;
    background-color: rgb(194, 212, 250);
    margin-bottom: 10px; /* para el espacion entre las lineas */
    margin-right: 24px;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between; 
    align-items: center;
    align-content: center;   */
    /* justify-content: flex-start; */
}



